<!DOCTYPE html>
<html lang="pt_BR">
  <%-include('./components/head')%>


  <body>
   <%-include('./components/nav')%>

    
    <header> <!--inicio da pagina-->
      <article>
        
        <h2>Modelos para Estilização de unhas</h2>
        <p> Para você que está em duvida, antes de ir na sua manicure e esclher o modelo ideal para suas unhas, este catalogo pode te ajudar a decidir</p>
      </article>
      <img src="/img/unhas2.gif" class="banner" alt="banner">
      
      
    </header>


    
 <main>
  <section id="img1">
     <img src="/img/formatos-de-unhas.webp" alt="">
  </section>

  <section id="cards"> <!--inicio dos estilos-->

    <% listaUnhas.forEach((unhas) => { %>

      <div class="card">

        
        <h3><%= unhas.estilo%></h3>
        

          <img src="<%= unhas.imagem %>" alt="Imagem">


          <!-- <h3><%= unhas.caracteristicas%></h3> -->

      </div>
   
    <% }) %>
  
    
 
  </section>
 </main>
  </body>
</html>



 